# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables

*.out
*.app
/.vs/TailingWebBrowser/v15
/packages
/TailingWebBrowser/bin/Debug
/TailingWebBrowser/obj/Debug
/TailingWebBrowser/bin/Release/x86
/TailingWebBrowser/bin/Release/x64
/TailingWebBrowser/bin/Release/app.publish
/TailingWebBrowser/obj/Release
/TailingWebBrowser/obj/x86/Debug
/TailingWebBrowser/bin/x86/Debug
/TailingWebBrowser/bin/x86/Release
/TailingWebBrowser/obj/x86/Release
/.vs
